<h2 id="search-page-logo">CRAVEN</h2><br/>
<%= form_tag restaurants_path, method: :get, id: "search-page-box", class: "form-search" do %>
  <p>
    <%= text_field_tag :query, params[:query], class: "input-large search-query" %>
    <%= submit_tag "Find dish!", name: nil, class: "btn" %>
  </p>
<% end %>