<li>
	<address>
		<strong><%= dish.name %></strong>
    <br />
    <% for i in 1..dish.rating %>
  ★
  <% end %>
  <% for i in 1..(5 - dish.rating) %>
  ☆
  <% end %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    $<%= dish.price %>
  </address>
</li>