<li>
	<address>
    <div class="span6">
      <strong><%= dish.name %></strong>
    </div>
    <div class="span2">
      <% for i in 1..dish.rating %>
      ★
      <% end %>
      <% for i in 1..(5 - dish.rating) %>
      ☆
      <% end %>
    </div>
    <div class="span2">
      $<%= dish.price %>
    </div>
  </address>
</li>