<li>
	<address>
    <div class="span6">
      <strong><%= link_to dish.name, dish %></strong>
    </div>
    <div class="span2">
      <%= dish.rating %>
    </div>
    <div class="span2">
      $<%= dish.price %>
    </div>
  </address>
</li>