<li>
	<address>
    <div class="span6">
      <strong><%= link_to dish.name, :controller => "dishes", :action => "show", :id => dish.slug %></strong>
    </div>
    <div class="span2">
      <%= dish.rating %>
    </div>
    <div class="span2">
      $<%= dish.price %>
    </div>
  </address>
</li>